:root {
    --background: #ffffff;
    --overlay: #fafafa;
    --main: #4d533c;
    --axent: #ffd723;
    --light-axent: #ffd7231a;
    --text: #21384299;
    --link: #d4d6d4;
    --button: #f5f6f7;
    --profession: #152934;
    --footer-text: #b6c197;
    --footer-line: #5d6544;
    --footer-button: #444a34;
}

h1, h2, h3, h4, p, a, button, ul, li, body {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
body * {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}